@charset "utf-8";
/* CSS Document */
body{background-color:#CF0;}
/*HeaderBar*/
.HeaderBar 
{
	height:36px;
	line-height:36px;
	background-color:#EFEFEF;
	margin:0;
	padding:0 80px;
	position:relative;
}

.HeaderBar>a
{
	color:#F22E00;
	font:12px/36px "宋体","Microsoft YaHei", "微软雅黑";
	margin-right:0.5em;
}
.HeaderBar>a span {color:#6C6C6C;}

.TopMenu
{
	height:36px;
	line-height:36px;
}
.TopMenu li
{
	float:left;
	width:86px;
	text-align:center;
}
.TopMenu li:hover
{
	background-color:#FFF;
	border:1px solid #707070;
	border:none solid;
}
.TopMenu li>a:hover
{
	color:#F33;
	text-decoration:underline;
	font-size:1.2em;
}
.TopMenu li i
{
	width:5px;
	height:3px;
	background:url(../icon/down.gif) left center no-repeat;
	display:inline-block;
	margin:9px 3px ;
	position:relative;
	top:5px;
}

#ShopCar a
{
	padding-left:15px;
	background:url(../icon/ShopCar.gif)left center no-repeat;
}
#ShopCar em{color:red; font-style:normal; font-weight:bold;}
#Guide
{
	padding-left:7px;
}

#Guide>a
{
	background:url(../icon/Guide_1.jpg) left center no-repeat;
	padding-left: 13px;
}

/*下拉菜单*/

#Guide div
{
	position:absolute;
	top:36px;
	left:73px;
	background-color:#FFF;
	height:220px;
	text-align:left;

}

#Guide div a
{
	color:#656565;
}
	
#Guide div dl
{
	display:inline-block;
	height:178px;
	width:300px;
	border-width:0 1px;
}
#Guide div dl dt
{
	color:#F00;
	font-family:"宋体", "微软雅黑", serif;
	font-weight:bold;
	font-size:1.2em;
}
#Guide div dl dd a
{
	padding-right:10px;
}
