@charset "utf-8";
/* CSS Document */
.HeaderBar 
{
	height:36px;
	line-height:36px;
	background-color:#EFEFEF;
	margin:0;
	padding:0 80px;
}

.HeaderBar>a
{
	color:#F22E00;
	font:12px/36px "宋体","Microsoft YaHei", "微软雅黑";
	margin-right:0.5em;
}
.HeaderBar>a span {color:#6C6C6C;}

.TopMenu
{
	height:36px;
	line-height:36px;
}
.TopMenu li
{
	float:left;
	width:86px;
	text-align:center;
}
.TopMenu li a
{
	display:inline-block;
	
}
.TopMenu li a i
{
	width:5px;
	height:3px;
	background:url(../icon/down.gif) left center no-repeat;
	display:inline-block;
	margin:9px;
	position:relative;
	top:5px;
}

#ShopCar
{
	background:url(../icon/ShopCar.gif)left center no-repeat;
}
#ShopCar a{padding-left:9px;}
#ShopCar em{color:red; font-style:normal; font-weight:bold;}
#Guide_1 
{
	background:url(../icon/Guide_1.jpg) left center no-repeat;
	overflow:hidden;
	display:inline-block;
	width:11px;
	height:10px;
}

	

